.dodAccordionMenu {
  border-bottom:1px solid #e5e9ed;
}
.dodAccordionMenu, .dodAccordionMenuSubMenu, .dodAccordionMenuListItem {
  margin:0px;
  padding:0px;
  position:relative;
}
.dodAccordionMenu, .dodAccordionMenuSubMenu, .dodAccordionMenu li {
  list-style:none;
}
.dodAccordionMenuSubMenu {
    *zoom: 1; /* IE7 text disappear work-around */
    font-family: Arial,sans-serif;
}
.dodAccordionMenuListItem {
  position:relative;
  border-top:1px solid #e5e9ed;
  border-bottom:none;
  background: linear-gradient(#fafafa 25%,#e5e9ed 70%);
}
.dodAccordionMenuSubMenu .dodAccordionMenuListItem {   
    background:white;
    min-height: 31.621px;
}
.dodAccordionMenuLastListItem {
  border-bottom:none;
}
.dodAccordionMenuListItem div.listItem {
	line-height:16px;
	padding:4px 5px;
  *zoom:1; /* IE7 extra spacing/block issue work-around */
}
.dodAccordionMenuListItem div.lvl0 a,
.dodAccordionMenuListItem div.dodMenuLinkHeader a {
	text-decoration:none;
}
.dodAccordionMenuListItem div.lvl0,
.dodAccordionMenuListItem div.dodMenuLinkHeader {
	text-decoration:none;
}
.dodAccordionMenuSubMenu div a {
  color:#123D64;
  font-family:Arial,sans-serif;
}
.dodAccordionMenu div.lvl0 a:hover,
.dodAccordionMenu .dodMenuLinkHeader a:hover {
  text-decoration:underline !important;
}
.dodAccordionRootNode {
    background: linear-gradient(#fafafa 25%,#e5e9ed 90%);
    padding: 8px 5px;
    min-height: 31.621px;
}
.dodAccordionMenu div.paddedHeader {
	padding-right:30px;
}
.dodAccordionMenu div.dodAccordionRootNode {
    font-family: Arial,sans-serif;
    color: #1f5fa4;
    font-size: 14px;

    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.dodMenuLinkHeader.dodAccordionMenuExpandedItem, .dodAccordionMenu div.dodAccordionRootNode.dodAccordionMenuExpandedItem {   
  color:#a16b00;
}
.dodAccordionMenu div.dodAccordionRootNode a {
  color:#1f5fa4;
  font-family:Arial,sans-serif;
  font-weight:normal;
}
.dodAccordionMenu div.lvl0 {
	overflow: hidden;
	line-height:16px;
    padding-right: 2.2rem;
}
.dodAccordionMenu div.lvl1 {
  padding-left:15px;
}
.dodAccordionMenu div.lvl2 {
  padding-left:30px;
}
.dodAccordionMenu div.lvl3 {
  padding-left:45px;
}
.dodAccordionMenu div.lvl4 {
  padding-left:60px;
}
.dodAccordionMenu div.lvl5 {
  padding-left:75px;
}
.dodMenuLinkHeader {
  color:#212224;
  font-size:12px;
  overflow:hidden;
  font-family:Arial,sans-serif;
}
.dodMenuLinkDetail {
  font-size:10px;
  font-weight:normal;
  font-family:Arial,sans-serif;
	text-transform:none;
}
.htmlSection {
  padding:3px;
  background:white;
  max-height:400px;
  overflow:auto;
}
.htmlSection a, .htmlSection a:visited, .htmlSection a:hover {
  color:#123D64;
}
.htmlSection a:hover {
	text-decoration:underline;
}
.dodAccordionMenuCollapsed {
  width:17px;
  height:9px;
  background:url('images/afsprite.png') 0px -32px;
  position:absolute;
  right:8px;
  top:11px;
  cursor:pointer;
}
.dodAccordionMenuExpanded {
  background-position:0px -41px;
}
.tellmemore {
  position:absolute;
  right:4px;
  bottom:4px;
	*bottom:-6px;
  width:51px;
  height:19px;
  line-height:21px;
  background:url('images/more.png');
  font-size:11px;
  text-decoration:none;
  color:black !important;
  text-align:center;
  overflow:hidden;
}
.hidetellmemore {
  display:none;
}